/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{
	//position: fixed;
	float: left;
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 9999;
	background: #000;
	font-size: 1em;
	font-weight: 700;
	box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	ul {
		border-bottom: 1px solid rgba(255, 255, 255, .1);
	}
}

.pushy a{
	display: block;
	color: #fff;
	padding: 15px 30px;
	border-top: 1px solid rgba(255, 255, 255, .1);
	text-decoration: none;
}

.pushy a:hover{
	background: $blue;
	color: #000;
	border: 0;
	border-top: 1px solid rgba(255, 255, 255, .1);
}

/* Menu Movement */

.pushy-left{
	//transform: translate3d(-200px,0,0);
}

.pushy-open{
	transform: translate3d(0,0,0);
}

.container-push, .push-push{
	//transform: translate3d(200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
	transition: transform .2s cubic-bezier(.16, .68, .43, .99);
	backface-visibility: hidden;
	perspective: 1000;
}

/* Site Overlay */

.site-overlay{
	display: none;
	cursor: pointer;
}

.pushy-active .site-overlay{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 200px;
	z-index: 9999;
}

/* Example Media Query */

@media screen and (max-width: 768px){
	.pushy{
		font-size: 1.0em;
	}
}