$primary: #c30;
$text-primary: #333;
$line-primary: #e0e0e0;
html, body, h1, h2, h3, h4, figure, blockquote {
	margin: 0;
	padding: 0;
}
article, figcaption, figure, footer, header, nav, section {
	display: block;
}
body {
	font-size: 12px;
	line-height: 1.5;
	color: $text-primary;
	font-family: monospace;
}
* {
	box-sizing: border-box;
}
h1, h2, h3, h4, p, ul, figure,
.post-title, .post-meta, .readmore {
	margin-bottom: 1em;
	margin-top: 1em;
}
h1 {
	font-size: 2em;
	line-height: 1.2;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
p, ul {
	font-size: 1.2em;
	code {
		background: $line-primary;
	}
}
blockquote {
	padding: 1em 2em;
	background: $line-primary;
}
a {
	color: $primary;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
img {
	max-width: 100%;
	height: auto;
}
figure {
	margin: 0 -2em;
}
figcaption {
	padding: 0 1em;
	font-size: .9em;
}
pre {
	background: #333;
	color: #fff;
	padding: 1em;
	overflow: auto;
}
.cf:after {
	content: "";
	display: table;
	clear: both;
}
.site-main {
	max-width: 48em;
	margin: 0 auto;
}
.site-nav, .post, .post-header, .post-meta {
	border-bottom: 1px solid $line-primary;
}
.site-nav {
	text-align: center;
	margin-bottom: 3em;
	ul {
		padding-left: 0;
	}
	li {
		display: inline-block;
		margin: 0 1em;
	}
}
.current-menu-item, .current_page_parent {
	a {
		text-decoration: none;
	}
}
.post {
	margin-bottom: 4em;
}
.post-header, .post-content {
	padding: 0 2em;
}
.post-meta {
	padding: 0 2em 1em;
}
.post-list {
	.post-title {
		font-size: 1.5em;
		a {
			color: #333;
			text-decoration: none;
			&:hover {
				color: #cc3300;
			}
		}
	}
}
.readmore {
	float: right;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
