html, body, h1, h2, h3, h4, figure, blockquote {
	margin: 0;
	padding: 0;
}
article, figcaption, figure, footer, header, nav, section {
	display: block;
}
body {
	font-size: 12px;
	line-height: 1.5;
	color: #333;
	font-family: monospace;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, p, ul, figure, blockquote, .post-title, .post-meta, .readmore {
	margin-bottom: 1em;
	margin-top: 1em;
}
h1 {
	font-size: 2em;
	line-height: 1.2;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
p, ul {
	font-size: 1.2em;
}
p code, ul code {
	background: #e0e0e0;
}
blockquote {
	padding: 1em 2em;
	background: #e0e0e0;
}
a {
	color: #c30;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
figure {
	margin: 0 -2em;
}
figcaption {
	padding: 0 1em;
	font-size: .9em;
}
pre {
	background: #333;
	color: #fff;
	padding: 1em;
	overflow: auto;
}
.cf:after {
	content: "";
	display: table;
	clear: both;
}
.site-main {
	max-width: 48em;
	margin: 0 auto;
}
.site-nav, .post, .post-header, .post-meta {
	border-bottom: 1px solid #e0e0e0;
}
.post-footer {
	border-top: 1px solid #e0e0e0;
	padding: 1em 2em;
	position: relative;
}
.site-nav {
	text-align: center;
	margin-bottom: 3em;
}
.site-nav ul {
	padding-left: 0;
}
.site-nav li {
	display: inline-block;
	margin: 0 1em;
}
.current-menu-item a, .current_page_parent a {
	text-decoration: none;
}
.post {
	margin-bottom: 4em;
	position: relative;
}
.post-header, .post-content {
	padding: 0 2em;
}
.post-meta {
	padding: 0 2em 1em;
}
.post-list .post-title {
	font-size: 1.5em;
}
.post-list .post-title a {
	color: #333;
	text-decoration: none;
}
.post-list .post-title a:hover {
	color: #cc3300;
}
.readmore {
	float: right;
	text-decoration: none;
}
.readmore:hover {
	text-decoration: underline;
}
.unicorn {
	margin: 100px auto;
	max-width: 64em;
	padding: 0 2em;
}
.unicorn svg {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.icon {
	fill: currentColor;
	width: 1em;
	height: 1em;
}

.js-like-post {
	border: 0;
	background: transparent;
	font-size: 3em;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	padding: 0;
	margin-right: .3em;
}

.js-like-post:hover {
	color: #c30;
}

.js-like-post--liked {
	color: #c30;
}

.js-like-post__icon {
	display: block;
}


.hearts {
	width: 100%;
	height: 600px;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 50%;
	margin-left: -50%;
	pointer-events: none;
}
.heart {
	font-size: 3em;
	opacity: 1;
	position: absolute;
	bottom: 0;
	display: none;
}
.colOne {
	color: #fce473;
}
.colTwo {
	color: #f68b39;
}
.colThree {
	color: #ed6c63;
}
.colFour {
	color: #847bb9;
}
.colFive {
	color: #97cd76;
}
.colSix {
	color: #35b1d1;
}
@keyframes flowOne {
	0% {
		opacity: 0;
		bottom: 0;
		left: 14%
	}
	40% {
		opacity: .8;
	}
	50% {
		opacity: 1;
		left: 0;
	}
	60% {
		opacity: .2;
	}
	80% {
		bottom: 80%
	}
	100% {
		opacity: 0;
		bottom: 100%;
		left: 18%
	}
}
@keyframes flowTwo {
	0% {
		opacity: 0;
		bottom: 0;
		left: 0;
	}
	40% {
		opacity: .8;
	}
	50% {
		opacity: 1;
		left: 11%
	}
	60% {
		opacity: .2;
	}
	80% {
		bottom: 60%
	}
	100% {
		opacity: 0;
		bottom: 80%;
		left: 0;
	}
}
@keyframes flowThree {
	0% {
		opacity: 0;
		bottom: 0;
		left: 0;
	}
	40% {
		opacity: .8;
	}
	50% {
		opacity: 1;
		left: 30%
	}
	60% {
		opacity: .2;
	}
	80% {
		bottom: 70%
	}
	100% {
		opacity: 0;
		bottom: 90%;
		left: 0;
	}
}
