---
import Base from "../layouts/Base.astro";

import Container from "../components/Container.astro";
import Figure from "../components/Figure.astro";
import Prose from "../components/Prose.astro";

import heroImage from "../assets/me.jpg";
---

<Base title="mihkel eidast">
    <Container>
        <Prose>
            <h1>Hello!</h1>
            <p>I’m mihkel. I make websites.</p>
            <Figure
                src={heroImage}
                alt="Mihkel smiling at the camera while waiting for service at a bar."
            />
            <p>
                More specifically, I'm a <a
                    href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/"
                    >front-of-the-frontend</a
                > developer. I enjoy building design systems and take great pride
                in making sure my work is accessible by everyone.
            </p>
        </Prose>
    </Container>
</Base>
