---
import Base from "../layouts/Base.astro";

import Container from "../components/Container.astro";
import Figure from "../components/Figure.astro";
import Prose from "../components/Prose.astro";

import heroImage from "../assets/bicycle.jpg";
---

<Base title="links - mihkel eidast">
    <Container>
        <Prose>
            <h1>Links</h1>
            <p>
                A list of links to various places on the interweb where you can
                find & follow me.
            </p>
            <Figure
                src={heroImage}
                alt="Mihkel's blue 1984 Start Šosse bicycle."
            />
            <p>
                I hang out on <a
                href="https://bsky.app/profile/mihkel.eida.st"
                target="_blank"
                rel="noopener noreferrer">Bluesky</a
            >.
            </p>
            <p>
                I spend too much of time&nbsp;on <a
                    href="https://www.facebook.com/mihkeleidast"
                    target="_blank"
                    rel="noopener noreferrer">Facebook</a
                >.
            </p>
            <p>
                I keep track of my vinyl collection at <a
                    href="https://discogs.com/user/mihkeleidast"
                    target="_blank"
                    rel="noopener noreferrer">Discogs</a
                >.
            </p>
            <p>
                I take pictures of pretty things on <a
                    href="https://instagram.com/mihkeleidast"
                    target="_blank"
                    rel="noopener noreferrer">Instagram</a
                >.
            </p>
            <p>
                I track my movie watching history on <a
                    href="https://letterboxd.com/risker/"
                    target="_blank"
                    rel="noopener noreferrer">Letterboxd</a
                >.
            </p>
            <p>
                I work as a Design Systems Architect at <a
                    href="https://www.telia.ee/"
                    target="_blank"
                    rel="noopener noreferrer">Telia</a
                >.
            </p>
            <p>
                You can email me at <a href="mailto:mihkel@eida.st"
                    >mihkel@eida.st</a
                >.
            </p>
        </Prose>
    </Container>
</Base>
