---
const { className } = Astro.props;
---

<div class:list={["container", className]}>
    <slot />
</div>

<style>
    .container {
        max-width: 48em;
        margin: 0 auto;
        padding: 0 1em;
    }
</style>
