---
import Container from '../components/Container.astro';
---
<footer>
    <Container>
        <div class="footer__inner">
            &copy; Mihkel Eidast 2021
        </div>
    </Container>
</footer>

<style>
    .footer__inner {
        padding: 1em 0;
        border-top: 1px solid #e0e0e0;
    }
</style>
