---
const { page } = Astro.props;
---

<div class="links">
    {
        page.url.prev && (
            <a class="prev" href={page.url.prev} title="Go to Previous">
                &larr; Prev
            </a>
        )
    }
    {
        page.url.next && (
            <a class="next" href={page.url.next} title="Go to Next">
                Next &rarr;
            </a>
        )
    }
</div>
<style>
    .links {
        display: flex;
        gap: 2em;
    }
</style>
