<div class="prose">
    <slot />
</div>

<style lang="scss">
    .prose {
        > :global(*) {
            margin: 0;
        }

        > :global(* + *) {
            margin-top: 1.5em;
        }

        :global(a) {
            color: #c30;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
</style>
